# Git
.git
.gitignore

# IDE and local configuration
.vscode
.idea
*.code-workspace

# DevContainer (exclude unnecessary files in prod, but keep config/)
.devcontainer/*.json
.devcontainer/*.sh
.devcontainer/*.yml
.devcontainer/*.example
.devcontainer/.env*

# Dependencies (reinstalled in the container)
node_modules
vendor

# Symfony cache and logs
var/cache
var/log
var/sessions

# Sensitive files
.env.local
.env.*.local
.env.prod
.env.*.prod

# Documentation and non-essential files
*.md
LICENSE
CHANGELOG

# Temporary files
*.tmp
*.swp
*~
.DS_Store
Thumbs.db
