services:
  db:
    image: "${DB_IMAGE:-mysql:8.0}"
    restart: always
    environment:
      MYSQL_DATABASE: "${PROJECT_NAME}_db"
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - app-network
    # Pas de ports exposés = sécurisé (accès via tunnel SSH uniquement)

  prod:
    build:
        context: ..
        dockerfile: .devcontainer/Dockerfile.apache.prod
        args:
          PHP_VERSION: "${PHP_VERSION}"
    ports:
      - "8081:80"
    environment:
      APP_ENV: prod
      APP_DEBUG: 0
      DATABASE_URL: mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@db:3306/${PROJECT_NAME}_db?serverVersion=${SERVER_VERSION}
      MAILER_DSN: ${MAILER_DSN:-smtp://localhost:25}
    depends_on:
      - db
    networks:
      - app-network
    restart: unless-stopped
    volumes:
      - uploads:/var/www/html/public/uploads
      - logs:/var/log/apache2
  
networks:
  app-network:
    external: true
    name: devcontainer-network

volumes:
  db-data:
  uploads:
  logs:
