services:
  prod:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile.apache.prod
      args:
        PHP_VERSION: "${PHP_VERSION}"
    ports:
      - "8000:80"
    environment:
      APP_ENV: prod
      APP_DEBUG: 0
      DATABASE_URL: mysql://${MYSQL_USER:-symfony}:${MYSQL_PASSWORD:-symfony}@db:3306/${PROJECT_NAME}_db?serverVersion=${SERVER_VERSION}
      MAILER_DSN: smtp://user:pass@mailpit:1025
      CORS_ALLOW_ORIGIN: "http://localhost:${FRONTEND_LOCALHOST_PORT:-5173}"
    depends_on:
      db:
        condition: service_healthy
      mailpit:
        condition: service_healthy
    networks:
      - app-network
    restart: unless-stopped
    volumes:
      - uploads:/var/www/html/public/uploads
      - logs:/var/log/apache2

  adminer:
    image: "${ADMINER_IMAGE}"
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

networks:
  app-network:
    external: true
    name: devcontainer-network

volumes:
  uploads:
  logs:
