services:
  dev:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile.dev
      args:
        PHP_VERSION: "${PHP_VERSION}"
        NODE_VERSION: "${NODE_VERSION}"
    image: "${DEV_IMAGE}"
    ports: []
    volumes:
      - ..:/workspace:cached
    environment:
      MAILER_DSN: smtp://user:pass@mailpit:1025
      DATABASE_URL: mysql://${MYSQL_USER:-symfony}:${MYSQL_PASSWORD:-symfony}@db:3306/${PROJECT_NAME}_db?serverVersion=${SERVER_VERSION}
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
      mailpit:
        condition: service_healthy
    networks:
      - app-network
    command: sleep infinity

  adminer:
    image: "${ADMINER_IMAGE}"
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

networks:
  app-network:
    external: true
    name: devcontainer-network
