services:
  app:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile.node.prod
      args:
        NODE_VERSION: "${NODE_VERSION}"
    image: "${PROJECT_NAME}-node:prod"
    environment:
      NODE_ENV: production
      DATABASE_URL: mysql://${MYSQL_USER:-symfony}:${MYSQL_PASSWORD:-symfony}@db:3306/${PROJECT_NAME}_db?serverVersion=${SERVER_VERSION}
    depends_on:
      db:
        condition: service_healthy
      mailpit:
        condition: service_healthy
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    external: true
    name: devcontainer-network
